files/Características core y opcional.pdf
ItShirt/administracion-web/.gitignore
ItShirt/autenticacion-web/.gitignore
ItShirt/catalogo-web/.gitignore
ItShirt/ItShirt-api/.gitignore
ItShirt/ItShirt-repository/.gitignore
ItShirt/ItShirt-service/.gitignore
ItShirt/personalizacion-web/.gitignore
ItShirt/personalizacion-web/.settings/org.eclipse.wst.validation.prefs
iT_Shirt-project\src\main\webapp\estampas
.classpath
.project
.settings/
target/
iT_Shirt-project/src/main/webapp/estampas/
iT_Shirt-project/src/main/webapp/resources/estampas/
iT_Shirt/iT_Shirt-web/src/main/webapp/resources/estampas/
iT_Shirt/iT_Shirt-web/src/main/resources/META-INF/resources/WEB-INF/resources/estampas/
iT_Shirt/iT_Shirt-web/src/main/resources/application.properties
